@media (min-width: 1200px) {
    h2{
        font-size: 2.5rem;
    }

    p,li{
        font-size: 1.4rem;
    }

    main {
        padding: 120px 80px;
    }

    section {
        padding: 2rem 1.8rem;
        margin-bottom: 1rem;
    }
}