* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* https://coolors.co/78350f-374151-fb923c-84cc16-fff7ed */
:root {
    --primary-color: #FB923C;
    --secondary-color: #84CC16;
    --background-color: #FFF7ED;
    --text-color: #374151;
    --text2-color: black;
    --text3-color: #341604;
    --accent1-color: #78350F;
}

body {
    min-width: 100vw;
    overflow-x: hidden;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif", serif;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--accent1-color);
}

/* Header */

/* Header */

header {
    column-gap: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
}

.header-content {
    display: grid;
    grid-template-columns: 56px auto 30px 44px;
    padding: 5px 5px 5px 10px;
    align-items: center;
}


nav {
    background-color: var(--primary-color);
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: var(--text3-color);
    text-align: start;
    padding: 1rem;
}

nav a:hover {
    text-decoration: overline;
    color: var(--text2-color);
}

nav .light-dark {
    display: none;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation li.current {
    text-decoration: overline;
    color: var(--text2-color);
}

.navigation li.current a {
    color: var(--text2-color);
}


/* Hamburger navigation */

.hamburger {
    padding-bottom: 12px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* main */

main {
    overflow-x: hidden;
}

/* Footer */

footer {
    background-color: var(--secondary-color);
    color: var(--text2-color);
    padding: 10px 10px;
}

#general-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}

#general-info h4 {
    font-weight: 900;
}

.date-info > a {
    color: var(--text3-color);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}


