@media only screen and (min-width: 38rem) {
    main {
        display: block;
        margin: 0 auto;
        max-width: 1300px;
    }

    section {
        padding: 40px 0px;
    }

    section>p {
        margin-bottom: 20px;
    }

    #filters {
        margin-bottom: 20px;
    }

    #products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .card{
        width: 300px;
        height: 450px;
    }

    .card img{
        max-height: 300px;
    }

    .card p{
        padding: 0px 10px;
    }
}